<!-- fund.component.html -->

<div class=" mx-5 p-4">
  <div class=" flex items-center justify-between w-full">
  <h2 class="text-2xl font-bold mb-4">Manage Products</h2>

  <button (click)="openCreateFundModal()" class="bg-slate-950 text-white px-4 py-3 transition-colors duration-300">
    Create Product
  </button>
  </div> 

  <!-- Display Existing Products-->
  <ul>
    <li *ngFor="let fund of funds" class="my-2 bg-white shadow-md -lg p-4 flex justify-between items-center">
      <div>
        <span class="font-bold text-blue-500">{{ fund.name }}</span> - {{ fund.abbreviation }}
      </div>
      <div>
        <!-- (click)="deleteFund(fund.id)" -->
        <button  class="text-red-500 hover:text-red-700 ml-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
          </svg>
        </button>
      </div>
    </li>
  </ul>

  <!-- Button to Open Create Produuct Modal -->


  <!-- Modal for Creating New Fund -->
  <div *ngIf="showCreateFundModal" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50">
  <div class="bg-white rounded-lg p-6 w-1/2 shadow-xl">
    <h3 class="text-2xl font-bold mb-4 text-gray-900">Create New Fund</h3>
    <form (submit)="createNewFund()" class="space-y-4">
      <div>
        <label for="name" class="block text-sm font-medium mb-2 text-gray-700">Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="newFund.name" required
               class="border border-gray-300 p-3 rounded-md w-full focus:outline-none focus:ring-2 focus:ring-indigo-500">
      </div>
      <div>
        <label for="abbreviation" class="block text-sm font-medium mb-2 text-gray-700">Abbreviation:</label>
        <input type="text" id="abbreviation" name="abbreviation" [(ngModel)]="newFund.abbreviation" required
               class="border border-gray-300 p-3 rounded-md w-full focus:outline-none focus:ring-2 focus:ring-indigo-500">
      </div>
      <div>
        <label for="fundType" class="block text-sm font-medium text-gray-700">Fund Type:</label>
        <select id="fundType" name="fundType" [(ngModel)]="newFund.fundType" required
                class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 rounded-md">
          <option value="">Select Fund Type</option>
          <option value="Retirement Bonds">Retirement Bonds</option>
          <option value="Money Market">Money Market</option>
          <option value="Government Bonds">Government Bonds</option>
        </select>
      </div>
      <div>
        <label for="currency" class="block text-sm font-medium mb-2 text-gray-700">Currency:</label>
        <input type="text" id="currency" name="currency" [(ngModel)]="newFund.currency" required
               class="border border-gray-300 p-3 rounded-md w-full focus:outline-none focus:ring-2 focus:ring-indigo-500">
      </div>
      <div>
        <label for="rate" class="block text-sm font-medium mb-2 text-gray-700">Rate:</label>
        <input type="number" id="rate" name="rate" [(ngModel)]="newFund.rate" required
               class="border border-gray-300 p-3 rounded-md w-full focus:outline-none focus:ring-2 focus:ring-indigo-500">
      </div>
      <div class="flex justify-end">
        <button type="submit" class="bg-indigo-600 text-white px-4 py-2 rounded-md hover:bg-indigo-700 transition-colors duration-300">
          Create
        </button>
        <button type="button" (click)="closeCreateFundModal()" class="ml-2 bg-gray-300 text-gray-700 px-4 py-2 rounded-md hover:bg-gray-400 transition-colors duration-300">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
