<!-- fund.component.html -->

<div class="mx-5 p-4">
  <div class="flex items-center justify-between w-full">
    <h2 class="text-2xl font-bold mb-4">Manage Products</h2>

    <button (click)="openCreateFundModal()" class="bg-slate-950 text-white px-4 py-3 transition-colors duration-300">
      Create Product
    </button>
  </div>

  <!-- Display Existing Products-->
 

  <!-- Search and Create Fund Section -->
<div class="flex items-center justify-between mx-5">
  <div class="flex items-center space-x-4 mb-4">
    <!-- Search criteria dropdown -->
    <select id="searchCriteria" class="px-2 py-2 border">
      <option value="name">Name</option>
      <option value="abbreviation">Abbreviation</option>
      <option value="fundType">Fund Type</option>
      <option value="currency">Currency</option>
      <option value="rate">Rate</option>
    </select>
    <!-- Search input -->
    <input type="text" [(ngModel)]="searchQuery" placeholder="Enter search term" class="px-2 py-2 border">
    <!-- Search button -->
    <button (click)="searchFunds()" class="px-4 py-2 bg-slate-950 text-neutral-100">Search</button>
  </div>
  
  <!-- Create fund button and modal trigger -->
  <div class="mb-4">
    
  </div>
</div>

<!-- Modal for Creating New Fund -->
<div *ngIf="showCreateFundModal" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50">
  <div class="bg-white rounded-lg p-6 w-1/2 shadow-xl">
    <h3 class="text-2xl font-bold mb-4 text-gray-900">Create New Product</h3>
    <form (submit)="createNewFund()" class="space-y-4">
      <div>
        <label for="name" class="block text-sm font-medium mb-2 text-gray-700">Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="newFund.name" required
               class="border border-gray-300 p-3 rounded-md w-full focus:outline-none focus:ring-2 focus:ring-indigo-500">
      </div>
      <div>
        <label for="abbreviation" class="block text-sm font-medium mb-2 text-gray-700">Abbreviation:</label>
        <input type="text" id="abbreviation" name="abbreviation" [(ngModel)]="newFund.abbreviation" required
               class="border border-gray-300 p-3 rounded-md w-full focus:outline-none focus:ring-2 focus:ring-indigo-500">
      </div>
      <div>
        <label for="fundType" class="block text-sm font-medium text-gray-700">Fund Type:</label>
        <select id="fundType" name="fundType" [(ngModel)]="newFund.fundType" required
                class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 rounded-md">
          <option value="">Select Fund Type</option>
          <option value="Retirement Bonds">Retirement Bonds</option>
          <option value="Money Market">Money Market</option>
          <option value="Government Bonds">Government Bonds</option>
          <option value="Rate">Rate</option>
        </select>
      </div>
      <div>
        <label for="currency" class="block text-sm font-medium mb-2 text-gray-700">Currency:</label>
        <input type="text" id="currency" name="currency" [(ngModel)]="newFund.currency" required
               class="border border-gray-300 p-3 rounded-md w-full focus:outline-none focus:ring-2 focus:ring-indigo-500">
      </div>
      <div>
        <label for="rate" class="block text-sm font-medium mb-2 text-gray-700">Rate:</label>
        <input type="number" id="rate" name="rate" [(ngModel)]="newFund.rate" required
               class="border border-gray-300 p-3 rounded-md w-full focus:outline-none focus:ring-2 focus:ring-indigo-500">
      </div>
      <!-- Additional Fields can be added here as needed -->
      <div class="flex justify-end">
        <button type="submit" class="bg-slate-950 text-white px-4 py-2 transition-colors duration-300">
          Create
        </button>
        <button type="button" (click)="closeCreateFundModal()" class="ml-2 bg-gray-300 text-gray-700 px-4 py-2 hover:bg-gray-400 transition-colors duration-300">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Table to display funds -->
<div class="overflow-x-auto mx-5">
  <table class="min-w-full bg-white shadow-md overflow-hidden">
    <thead class="bg-gray-800 text-white">
      <tr>
        <th class="py-2 px-4">Name</th>
        <th class="py-2 px-4">Abbreviation</th>
        <th class="py-2 px-4">Fund Type</th>
        <th class="py-2 px-4">Currency</th>
        <th class="py-2 px-4">Rate</th>
        <th class="py-2 px-4">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fund of funds">
        <!-- Displaying fund data -->
        <td class="py-2 px-4 cursor-pointer">{{ fund.name }}</td>
        <td class="py-2 px-4 cursor-pointer">{{ fund.abbreviation }}</td>
        <td class="py-2 px-4 cursor-pointer">{{ fund.fundType }}</td>
        <td class="py-2 px-4 cursor-pointer">KES {{ fund.currency }}</td>
        <td class="py-2 px-4 cursor-pointer">{{ fund.rate }}</td>
        <!-- Actions buttons -->
        <td class="py-2 px-4">
          
          <button class=" text-black border-2 border-slate-950 font-bold py-2 px-4 rounded"
                  (click)="deleteFund(fund.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
