<nav class="px-3 py-4 bg-slate-950 flex items-center justify-between">
    <!-- Hamburger menu -->
    <div class=" flex items-center gap-2">
        <span class=" font-black text-emerald-500 text-3xl">
            Smart Invest
        </span>
    <div class="text-neutral-200 cursor-pointer" (click)="toggleSidebar()">
        <!-- svg icon for hamburger menu -->
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M4 6h16M4 12h16m-7 6h7" />
        </svg>
    </div>
</div>
    <!-- Title -->
    <div>
        <span class="text-neutral-200">
            Admin Dashboard
        </span>
    </div>

      
</nav>

<!-- Sidebar -->
<div class="fixed inset-0 z-40" *ngIf="sidebarOpen">
    <app-sidebar (closeSidebarEvent)="toggleSidebar()"></app-sidebar>
</div>