<div class="flex items-center justify-between mx-5">
  <form class="flex items-center space-x-4 mb-4" (ngSubmit)="searchTransactions()">
    <select id="searchCriteria" class="px-2 py-2 border" [(ngModel)]="searchCriteria" name="searchCriteria">
      <option value="id">ID</option>
      <option value="phone_number">Phone Number</option>
      <option value="account_name">Account Name</option>
      <option value="date">Date</option>
    </select>
    <input type="text" placeholder="Enter search term" class="px-2 py-2 border" [(ngModel)]="searchQuery" name="searchQuery">
    <button class="px-4 py-2 bg-slate-950 text-neutral-100" type="submit">Search</button>
  </form>

  <div class="mb-4 gap-3 flex">
    <button (click)="openModal()" class="px-4 py-2 bg-slate-950 text-neutral-100">
      Create Bank Transaction 
    </button>
    <button (click)="openModal()" class="px-4 py-2 bg-slate-950 text-neutral-100">
      Create Cash Transaction 
    </button>
    <app-transactionmodal [isVisible]="isModalVisible" (close)="closeModal()"></app-transactionmodal>
  </div>
  
  
</div>

<div class="overflow-x-auto mx-5">
  <table class="min-w-full bg-white shadow-md overflow-hidden">
    <thead class="bg-gray-800 text-white">
      <tr>
        <th class="py-2 px-4">ID</th>
        <th class="py-2 px-4">Phone Number</th>
        <th class="py-2 px-4">Account Name</th>
        <th class="py-2 px-4">Amount</th>
        <th class="py-2 px-4">Timestamp</th>
        <th class="py-2 px-4">Financial Advisor</th>
        <th class="py-2 px-4">Description</th>
        <th class="py-2 px-4">Account Number</th>
        <th class="py-2 px-4">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of filteredTransactions">
        <td class="py-2 px-4">{{ payment.id }}</td>
        <td class="py-2 px-4">{{ payment.phoneNumber }}</td>
        <td class="py-2 px-4">{{ payment.accountName }}</td>
        <td class="py-2 px-4">{{ payment.amount }}</td>
        <td class="py-2 px-4">{{ payment.paymentTime }}</td>
        <td class="py-2 px-4">{{ payment.financialAdvisor }}</td>
        <td class="py-2 px-4">{{ payment.description }}</td>
        <td class="py-2 px-4">{{ payment.accountNumber }}</td>
        <td class="py-2 px-4">{{ payment.date }}</td>
        <td class="py-2 px-4">
          
        </td>
      </tr>
    </tbody>
  </table>
</div>
