<div class="inset-0 bg-black/40 fixed h-screen w-screen flex items-center justify-center" *ngIf="isVisible">
  <div class="max-w-md mx-auto relative bg-white p-20"> 
    <button (click)="closeModal()" class="absolute left-0 top-0 p-3">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="12" cy="12" r="12" fill="#E0E0E0"/>
        <path d="M15 9L9 15" stroke="#000" strokeWidth="2" strokeLinecap="round" strokeLinejoin="round"/>
        <path d="M9 9L15 15" stroke="#000" strokeWidth="2" strokeLinecap="round" strokeLinejoin="round"/>
      </svg>
    </button> 
    <span class="text-xl font-bold mb-4">Verify User Details</span>  
    <div class=" mb-4">
      <label for="firstName">First Name:</label>
    <input  
      type="text"  
      [(ngModel)]="firstName"  
      placeholder="First Name"  
      class="block border mt-1 mb-2 p-2 w-full"  
      required  
    />  
  </div>
  <div class=" mb-4">
  <label for="lastName">Last Name:</label>
    <input  
      type="text"  
      [(ngModel)]="lastName"  
      placeholder="Last Name"  
      class="block border mt-1 mb-2 p-2 w-full"  
      required  
    />  
  </div>
    <button (click)="fetchDetails()" class=" text-neutral-100 px-6 py-3 bg-slate-950">  
      Verify
    </button>  
  
    <h2 class="text-lg font-semibold mt-4">User Details</h2>  
    <table class="min-w-full bg-white shadow-md overflow-hidden">
      <thead class="bg-gray-800 text-white">
        <tr>
          <th class="py-2 px-4">Phone Number</th>
          <th class="py-2 px-4">Acc. Number</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="py-2 px-4">{{ phoneNumber }}</td>
          <td class="py-2 px-4">{{ accountNumber }}</td>
          </tr>
      </tbody>
      </table>
  
    <h2 class="text-lg font-semibold mt-4">Submit Payment</h2>  
    <select [(ngModel)]="transactionType" class="px-4 py-2 text-slate-950 border border-gray-200 m-3">
      <option value="" disabled>Select Bank or Cash Payment</option>
      <option value="cash">Cash</option>
      <option value="bank">Bank</option>
    </select>
    <div class=" mb-4">
      <label for="accountName">Account Name:</label>
    <input  
      type="text"  
      [(ngModel)]="accountName"  
      placeholder="Account Name"  
      class="px-4 py-2 text-slate-950 border border-gray-200 m-3" 
      required  
    />  
    </div>
    <div class=" mb-4">
      <label for="amount">Amount:</label>
    <input  
      type="number"  
      [(ngModel)]="amount"  
      placeholder="Amount"  
      class="px-4 py-2 text-slate-950 border border-gray-200 m-3" 
      required  
    />  
    </div>
    <button (click)="submitPayment()" class=" text-neutral-100 px-6 py-3 bg-slate-950">  
      Submit Payment  
    </button>  
  </div>
</div>
