<div class="flex items-center justify-between mx-5">
  <div class="flex items-center space-x-4 mb-4">
    <select id="searchCriteria" class="px-2 py-2 border">
      <option value="id">ID</option>
      <option value="surname">Surname</option>
      <option value="middleName">Middle Name</option>
      <option value="firstName">First Name</option>
      <option value="email">Email</option>
      <option value="nationality">Nationality</option>
      <option value="passport">ID/Passport</option>
      <option value="postalAddress">Postal Address</option>
      <option value="accountName">Account Name</option>
      <option value="accountNumber">Account Number</option>
      <option value="accountType">Account Type</option>
      <option value="bankName">Bank Name</option>
      <option value="branch">Branch</option>
      <option value="bankCode">Bank Code</option>
      <option value="nextOfKin">Next of Kin</option>
    </select>
    <input type="text" [(ngModel)]="searchQuery" placeholder="Enter search term" class="px-2 py-2 border">
    <button (click)="searchUsers()" class="px-4 py-2 bg-slate-950 text-neutral-100">Search</button>
  </div>
  
  <div class="mb-4">
    <button (click)="openModal()" class="px-4 py-2 bg-slate-950 text-neutral-100">
      Create User
    </button>
    <app-createuserdialog [isVisible]="isModalVisible" (close)="closeModal()"></app-createuserdialog>
  </div>
</div>

<div class="overflow-x-auto mx-5">
  <table class="min-w-full bg-white shadow-md overflow-hidden">
    <thead class="bg-gray-800 text-white">
      <tr>
        <th class="py-2 px-4">ID</th>
        <th class="py-2 px-4">Surname</th>
        <th class="py-2 px-4">Middle Name</th>
        <th class="py-2 px-4">First Name</th>
        <th class="py-2 px-4">Date of Birth</th>
        <th class="py-2 px-4">Passport Number</th>
        <th class="py-2 px-4">Nationality</th>
        <th class="py-2 px-4">Email</th>
        <th class="py-2 px-4">Postal Address</th>
        <th class="py-2 px-4">Account Name</th>
        <th class="py-2 px-4">Account Number</th>
        <th class="py-2 px-4">Account Type</th>
        <th class="py-2 px-4">Bank Name</th>
        <th class="py-2 px-4">Branch</th>
        <th class="py-2 px-4">Bank Code</th>
        <th class="py-2 px-4">Next of Kin</th>
        <th class="py-2 px-4">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUsers">
        <td class="py-2 px-4 cursor-pointer">{{ user.id }}</td>
        <td class="py-2 px-4 cursor-pointer">{{ user.surname }}</td>
        <td class="py-2 px-4 cursor-pointer">{{ user.middleName }}</td>
        <td class="py-2 px-4 cursor-pointer">{{ user.firstName }}</td>
        <td class="py-2 px-4 cursor-pointer">{{ user.dateOfBirth }}</td>
        <td class="py-2 px-4 cursor-pointer">{{ user.idPassportNo }}</td>
        <td class="py-2 px-4 cursor-pointer">{{ user.nationality }}</td>
        <td class="py-2 px-4 cursor-pointer">{{ user.email }}</td>
        <td class="py-2 px-4 cursor-pointer">{{ user.postalAddress }}</td>
        <td class="py-2 px-4 cursor-pointer">{{ user.accountName }}</td>
        <td class="py-2 px-4 cursor-pointer">{{ user.accountNumber }}</td>
        <td class="py-2 px-4 cursor-pointer">{{ user.accountType }}</td>
        <td class="py-2 px-4 cursor-pointer">{{ user.bankName }}</td>
        <td class="py-2 px-4 cursor-pointer">{{ user.branch }}</td>
        <td class="py-2 px-4 cursor-pointer">{{ user.bankCode }}</td>
        <td class="py-2 px-4 cursor-pointer">{{ user.nextOfKin.name }}</td>
        <td class="py-2 px-4">
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2"
                  (click)="viewUserDetails(user.id)">
            View
          </button>
          <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
                  (click)="deleteUser(user.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
